.CardsPage {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.CardsPage h2 {
    text-decoration: underline;
}

.cardsList {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.CardsPagesecond {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.CardsPagesecond h2 {
    text-decoration: underline;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.inputs input {
    height: 25px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
    outline: none;
}

.inputs button {
    height: 30px;
    background-color: rgba(222, 184, 135, 0.699);
    border-radius: 12px;
    border: 1px solid gray;
}