.CardID {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(0, 68, 255);
    border-radius: 12px;
    min-height: 70vh;
    padding: 25px;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

.CardID h2 {
    font-size: 32px;
    font-weight: 500;
}

.CardID p {
    font-size: 18px;
    font-weight: 500;
}

.buttons{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.buttons button:nth-child(1){
    border: 1px solid red;
    background-color: transparent;
    padding: 7px 15px;
    border-radius: 5px;
    color: red  ;
}

.buttons button:nth-child(2){
    border: 1px solid rgb(5, 55, 141);
    background-color: transparent;
    padding: 7px 15px;
    border-radius: 5px;
    color: rgb(5, 55, 141)  ;
}

.buttonsTrue {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.buttonsTrue button:nth-child(1){
    border: 1px solid rgb(255, 187, 0);
    background-color: transparent;
    padding: 7px 15px;
    border-radius: 5px;
    color: rgb(255, 187, 0)  ;
}

.buttonsTrue button:nth-child(2){
    border: 1px solid rgb(45, 165, 2);
    background-color: transparent;
    padding: 7px 15px;
    border-radius: 5px;
    color: rgb(51, 187, 2)  ;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs > input {
    width: 300px;
    height: 30px;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;

}

.inputs > input:active {
    border: 1px solid gray;
    outline: none;
}


.back {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: red;
    font-weight: 600;
    text-decoration: none;
    left: 25px;
}