* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app-container {
  margin-left: 8%;
  margin-right: 8%;
}

.active {
    color: rgba(132, 40, 218, 0.932) !important;
    font-weight: 600;
}