.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 15px;
}
.wrapper h2 {
    font-size: 32px;
    font-weight: 500;
    background-color: gray;
}
.wrapper a {
    font-size: 22px;
    
}