.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    background-color: rgba(128, 128, 128, 0.162);
    gap: 15px;
    padding: 30px;
    border-radius: 12px;
}
.wrapper h2 {
    font-size: 32px;
    font-weight: 500;
    color: gray;
}
.wrapper a {
    font-size: 22px;
    color: blueviolet;
    display: flex;
    align-items: center;
    gap: 10px;
}